* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: rgb(181, 204, 212);
  transition: all 0.5s;
}
.main {
  position: relative;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px 0 30px 0;
  width: 1200px;
  min-height: 700px;
  background-color: rgb(123, 194, 212);
  border-radius: 50px;
  font-weight: 400;
  transition: all 0.5s;
}

.main .main_header {
  text-align: center;
}

.wrapper {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.main .main_input {

  font-size: 17px;
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  outline: none;
  background-image: linear-gradient(#faf8f8, #b5c7cf);

}

.main .main_btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  min-width: 170px;
  height: 40px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 400;
  font-size: 15px;
  background-image: linear-gradient(#faf8f8, #b5c7cf);
}

.edit_input {
  font-size: 17px;
  margin-top: 20px;
  width: 330px;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  outline: none;
  background-image: linear-gradient(#faf8f8, #b5c7cf);
}

.propertyEdit {
  border-radius: 10px;
  margin-left: 20px;
  border: none;
  width: 150px;
  height: 40px;
  cursor: pointer;
  transition: all 0.4s;
  font-weight: 400;
  font-size: 15px;
  background-image: linear-gradient(#faf8f8, #b5c7cf);
}

.propertyEdit:hover {
  background-color: rgb(105, 180, 210);
  border: 3px solid rgb(66, 156, 192);
  background-image: none;
}

.main_btn:hover {
  background-color: rgb(105, 180, 210);
  border: 3px solid rgb(66, 156, 192);
  background-image: none;
}

.main .wrap {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main_active,
.main_completed {
  position: relative;
  width: 500px;
  min-height: 360px;
  border: 3px solid rgb(57, 124, 151);
  border-radius: 25px;
  background-color: rgb(95, 173, 204);
  box-shadow: 0px 0px 21px 0px rgb(51, 82, 102);
  overflow: auto;
  transition: all 0.5s;
}

.main .main_active img {
  position: absolute;
  width: 90px;
  height: 25px;
  top: 20px;
  left: 120px;
}

.main .main_completed img {
  position: absolute;
  top: 21px;
  left: 137px;
}

.main .main_subtitle {
  color: rgb(0, 0, 0);
  margin-top: 15px;
  text-align: center;
  font-weight: 300;
  font-size: 22px;
}

.main .active_task-list,
.main .completed_task-list {
  margin: 15px 0 0 30px;
}

.main .active_task-list .list_item,
.main .completed_task-list .list_item {
  width: 97%;
  margin-bottom: 10px;
  padding: 5px 0 5px 10px;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.list_item:hover {
  background-color: rgb(123, 194, 212);
  width: 10%;
  border-radius: 10px;
}

.list_item button {
  padding-top: 15px;
  margin-right: 5px;
  position: relative;
  opacity: 0;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.main .main_active .active_task-list .list_item button img,
.main .main_completed .completed_task-list .list_item button img {
  width: 100%;
  height: 100%;
}

.main .main_active .active_task-list .list_item .btn_img,
.main .main_completed .completed_task-list .list_item .btn_img {
  top: 0;
  left: 0;
}

.main .main_active .active_task-list .list_item:hover button {
  background-color: rgb(123, 194, 212);
  opacity: 1;
}

.main .main_completed .completed_task-list .list_item button {
  padding-top: 15px;
  background-color: rgb(123, 194, 212);
  margin-right: 5px;
  position: relative;
  opacity: 0;
  border: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
}

.main .main_completed .completed_task-list .list_item:hover button {
  background-color: rgb(123, 194, 212);
  opacity: 1;
}

.main .main_completed .completed_task-list .list_item button:nth-child(2) {
  cursor: default;
}

.line {
  border-bottom: 1px solid rgb(42, 137, 156);
  width: 430px;
  margin: 0 auto;
  margin-top: 5px;
  transition: all 0.5s;
}

.change {
  width: 600px;
  margin-left: 50px;
}

.switcher {
  position: absolute;
  display: block;
  top: 36px;
  right:10px;
}

.switcher_text {
  position: relative;
  margin-top: 5px;
  left: -13px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 40px;
  height: 21px;
  background-color: rgb(173, 175, 177);
  display: flex;
  border-radius: 50px;
  padding: 1px;
  position: relative;
  transform: scale(1.5);
}

.ball {
  width: 15px;
  height: 15px;
  background-color: rgb(219, 215, 215);
  position: absolute;
  left: 4px;
  top: 3px;
  border-radius: 50%;
  transition: transform 0.3s linear;
}


.checkbox:checked+.label .ball {
  transform: translateX(17px);
}

.dark_body {
  background-color: rgb(80, 79, 79);
  transition: all 0.5s;
}

.dark_main {
  background-color: grey;
  transition: all 0.5s;
}

.dark_LiItem:hover {
  background-color: grey;
}

.dark_line {
  border-bottom: 1px solid rgb(59, 59, 59);
  transition: all 0.5s;
}

.dark_btn:hover {
  background-color: rgb(116, 116, 116);
  border: 3px solid rgb(63, 63, 63);
  color: white;
}

.dark_block {
  background-color: rgb(103, 102, 102);
  border: 3px solid rgb(63, 63, 63);
  border-radius: 25px;
  box-shadow: 0px 0px 21px 0px rgb(67, 63, 63);
  transition: all 0.5s;
}

@media (max-width: 1222px) {
  .main {
    width: 95%;
  }

  .main .main_active,
  .main .main_completed {
    width: 400px;
  }

  .line {
    width: 350px;
  }

  .main .main_active img {
    left: 71px;
  }

  .main .main_completed img {
    left: 87px;
  }

  .edit_input {
    width: 37%;
  }

  .propertyEdit {
    width: 20%;
  }

  .change {
    width: 600px;
    margin-left: 8%;
  }
}

@media (max-width: 1010px) {
  .main {
    width: 95%;
  }

  .main .main_active,
  .main .main_completed {
    width: 600px;
  }

  .line {
    width: 500px;
  }

  .main .main_active img {
    left: 171px;
  }

  .main .main_completed img {
    left: 187px;
  }

  .main .main_completed {
    margin-top: 30px;
  }

  .edit_input {
    width: 370px;
  }

  .propertyEdit {
    width: 110px;
  }

  .change {
    width: 515px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .main {
    width: 95%;
  }

  .main .main_active,
  .main .main_completed {
    width: 450px;
  }

  .line {
    width: 400px;
  }

  .main .main_active img {
    left: 96px;
  }

  .main .main_completed img {
    left: 112px;
  }

  .main .main_completed {
    margin-top: 30px;
  }

  .edit_input {
    width: 250px;
  }

  .propertyEdit {
    width: 130px;
  }

  .change {
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 553px) {
  .main {
    width: 95%;
  }

  .main .main_active,
  .main .main_completed {
    width: 350px;
  }

  .line {
    width: 250px;
  }

  .main .main_active img {
    left: 46px;
  }

  .main .main_completed img {
    left: 63px;
  }

  .main .main_active {
    margin-top: 10px;
  }

  .main .main_completed {
    margin-top: 30px;
  }

  .edit_input {
    display: block;
    margin: 0 auto;
    width: 290px;
  }

  .propertyEdit {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 130px;
  }

  .change {
    width: 280px;
    margin-top: 50px;
  }

  .switcher {
    top: 36px;
    right:0px;
  }
}